.sidebar-header .sidebar-item-icon {
  background-color: #000000 !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}
.desktop-icon .icon-container {
  background-color: #000000 !important;
}
